*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --bg-color: #1d1818;
    --second-bg-color:#462a3c;
    --text-color: #ece3e3;
    --main-color: rgb(202, 71, 97);

}

@keyframes color-change {
    0% { color: var(--text-color); }
    50% { color: var(--main-color);}
    100% { color: var(--text-color); }
}
html{
    font-size: 10px;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
    margin: 1rem 1rem 1rem 0;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding: 1.5rem 5% 3rem 5%;
    background-image: linear-gradient(180deg, var(--second-bg-color), var(--bg-color) );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.portlogo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
    cursor:default;
}
.navbar a{
    font-size: 1.7rem;
    color:var(--main-color);
    margin-left: 4rem;
    transition: .5s;
}
.navbar a:hover{
    color:var(--text-color);
    font-size: 2rem;
}

/* --------------------------ABOUT------------------------------------------- */
.navtitles{
    text-align: center;
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 2rem var(--main-color);
    border-radius: 4rem;
    font-size: 4rem;
}
.about{
    padding:10rem 9%;
    font-size: 1.5rem;
    text-align: justify;
}
#metul{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    /* animation:  */
      /* typing 3.5s steps(40, end); */
    color:var(--main-color);
    font-size: 4rem;
    /* margin-right: 72%; */
}
/* (   The typing effect 
  @keyframes typing {
    from { width: 0; 
        color:#ffffff}
    to { 
        width: 100%;
        color: var(--main-color);
    }
  }*/
  
  /* The typewriter cursor effect */
/*
.linkicons{
    size: 10rem;
    font-size: 30px;
    color: #df5959;
    transition: .5s;
}
.linkicons:hover{
    font-size: 35px;
}*/
.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 2rem 2rem 0;
}
.social a:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s
}
.resume{
    color: var(--main-color);
    display: inline-block;
    background: transparent;
    padding: 1rem 1rem;
    border-radius: 4rem;
    box-shadow: 0 0 0.5rem var(--main-color);
}
.resume:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s;
}

/* -------------------------PROJECTS---------------------------- */
.Projects{
    padding:10rem 9%;
    font-size: 1.5rem;
    text-align: justify;
}
.project-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5rem;
    padding: 5rem 2rem 5rem 2rem;
}
.project-imgs{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}
.project-imgs:hover{
    transform: scale(1.1);
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
}
.project-box .project-info{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column; 
     text-align: justify;
     padding: 0 4rem; 
     transform: translateY(100%);
     transition: 0.5s ease;
}
.project-box:hover .project-info{
    transform: translateY(0);
}
.project-info h4{
    font-size: 2.5rem;
}
.project-info p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}
.project-info a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.project-info a p{
    font-size: 3rem;
    color: var(--second-bg-color);
}